<html>
    <body>
        <div class="container">
        
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/cthulhu" class="btn btn-default btn-sm">Back to Admin Panel</a>
            </div>
        
            <div class="row">
        
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>
        
                            <p>
                                <strong>id</strong>: <%= user._id %><br>
                                <strong>email</strong>: <%= user.local.email %><br>
                            </p>
        
                    </div>
                </div>
                <form action="/cthulhu/editUser/<%= user._id %>" method="POST">
                    <div class="form-group">
                        <label>User Role:</label>
                        <input type="text" class="form-control" name="roleEdit" value=<%= user.role %>>
                    </div>
                    <div class="form-group">
                        <label>User Status:</label>
                        <input type="text" class="form-control" name="statusEdit" value=<%= user.status %>>
                    </div>
                    <div class="form-group">
                        <label>User is Admin:</label>
                        <input type="text" class="form-control" name="isAdminEdit", value=<%= user.isAdmin %>>
                    </div>

            
                    <button href="/cthulhu" type="submit" class="btn btn-warning btn-lg">Update</button>
                </form>
        
            </div>
        
        </div>
        </body>
</html>