<html>
    <body>
        <div class="container">
        
            <div class="page-header text-center">
                <h1><span class="fa fa-anchor"></span> Profile Page</h1>
                <a href="/logout" class="btn btn-default btn-sm">Logout</a>
                <a href="/profile/permission" class="btn btn-default btn-sm">Permissions</a>
                <a href="/" class="btn btn-default btn-sm">Back to Blog</a>
            </div>
        
            <div class="row">
        
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h3><span class="fa fa-user"></span> Local</h3>
        
                            <p>
                                <strong>id</strong>: <%= user._id %><br>
                                <strong>email</strong>: <%= user.local.email %><br>
                                <strong>password</strong>: <%= user.local.password %><br>
                                <br>
                                <strong>Name</strong>: <%= user.name %><br>
                                <strong>Last name</strong>: <%= user.lastName %><br>
                                <strong>Department</strong>: <%= user.department %><br>
                                <strong>CompanyId</strong>: <%= user.companyId %>
                            </p>
                            <a href="/profile/editProfile/<%= user._id %>" class="btn btn-default"><span class="fa fa-user"></span> Edit Profile</a>

                            <form action="/renewPassword/<%= user._id %>" method="POST">
                                <button href="/renewPassword/<%= user._id %>/<%= user.token %>" type="changePW" class="btn btn-warning btn-lg">Change Password</button>
                            </form>
        
                    </div>
                </div>
        
            </div>
        
        </div>
        </body>
</html>