<div class="comment">
        <div>
            <p><%= comment.comment %></p>
            <p> posted: <%= comment.postingDate %></p>
            <p> posted by: <%= comment.postedBy %></p>
        </div>
    <%if (isLoggedIn) { %>
    <div class="comment-helper">
        <!-- <code><%= post.uid %></code> -->
        <div class="flex">
            <%- include('modalComment', {comment: comment}); %>
            <%- include('deleteComment', {comment: comment}); %>
        </div>
    </div>
    <% } %>
</div>