<div>
    <button id="updateModal-Btn" data-id="<%= post.uid %>" class="icon"><i class="material-icons md-18">edit</i></button>
    <div id="updateModal" class="modal" data-modal="<%= post.uid %>">
        <div class="updateModal-content">
            <button class="close" data-modal-close="<%= post.uid %>">&times;</button>
            <form name="updateForm" method="POST" action="/updatePost">
                <h3>Update your fucking Post</h3>                
                <input type="text" name="findBlogPost" value="<%= post.uid %>" style="display: none" />
                <legend>
                    <input type="text" name="replaceBlogPostTitle" value="<%= post.blogposttitle %>" />
                </legend>
                <legend>
                    <textarea type="textarea" name="replaceBlogPost"><%= post.blogpost %></textarea>
                    <!-- <small>Supported formatting includes: <code>```pre```</code>, <code>`code`</code>, <code>_italic_</code>, <code>*bold*</code>, and even <code>~strike~</code> </small> -->
                </legend>
                <button>Submit</button>
            </form>
        </div>
    </div>
</div>

<script> 
document.querySelector('[data-id="<%= post.uid %>"]').onclick = () => {
    let modal = document.querySelector('[data-modal="<%= post.uid %>"]')
    let modalCloseBTN = document.querySelector('[data-modal-close="<%= post.uid %>"]')
    modal.style.display = "block"
    modalCloseBTN.onclick = function () {
        modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
} 
</script>